<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Tasks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.5/dist/htmx.min.js"
            integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center" style="padding-right: 50px;">
        <form id="filterForm">
            <div style="display: inline-block;">
                <label for="searchName">Название:</label>
                <input type="text" id="searchName" name="name">
            </div>
            <div style="display: inline-block;">
                <label for="searchDescription">Описание:</label>
                <input type="text" id="searchDescription" name="description">
            </div>
            <div>
            </div>
            <div style="display: inline-block; margin: 10px;">
                <label for="status">Статус:</label>
                <select id="status" name="status">
                    <option value="all" selected>Все</option>
                    <option value="completed">Завершенные</option>
                    <option value="incomplete">Не завершенные</option>
                </select>
            </div>
            <div>
                <button
                        th:hx-get="${'/tasks?page=' + (page)}"
                        th:hx-include="${'[name=name], [name=description], [name=status]'}"
                        th:hx-target="'#taskContainer'"
                        th:hx-swap="innerHTML">
                    Применить фильтр
                </button>
            </div>
        </form>
    </div>
    <div id="taskContainer" th:replace="/tasksTableFragment">

    </div>
</div>
</body>
</html>